.wide-container {
    width: 1440px;
}

@media  (max-width: 1680px) {
    .wide-container {
        width: 1220px;
    }
}

@media  (max-width: 1440px) {
    .wide-container {
        width: 1200px;
    }
}

@media (max-width: 1280px) {
    .wide-container {
        width: 980px;
    }
}

@media (max-width: 1024px) {
    .wide-container {
        width: auto;
        padding-inline: 50px;
    }
}

@media (max-width: 576px) {
    .wide-container {
        padding-inline: 25px;
    }
}
