* {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(4, 12, 24, 1);
}

.blur {
    width: 100%;
    position: absolute;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 55px;
}


.logo-nav-wrapper {
    display: flex;
    align-items: center;
    gap: 70px;
}

.nav-menu {
    display: flex;
}

@media (max-width: 1440px) {
    .nav-menu {
        gap: 25px;
    }
}

@media (max-width: 1024px) {
    .nav-menu {
        display: none;
    }
}

.nav-menu a,
.action-btn,
.footer-btn {
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.nav-menu a:hover,
.subtitle-wrapper span:hover,
.possibilities-text span:hover,
.future-section span:hover,
.news-link:hover,
.footer-span:hover,
.footer-links-list a:hover,
.footer-rights:hover {
    color: rgba(255, 72, 32, 1);
    text-decoration: underline;
    transition-duration: 0.7s;
}

#nav-element1 {
    margin-left: 54px;
}

@media (max-width: 1440px) {
    #nav-element1 {
        margin-left: 0;
    }
}

#nav-element2,
#nav-element4,
#nav-element5{
    margin-left: 34px;
}

#nav-element3 {
    margin-left: 46px;
}

@media (max-width: 1440px) {
    #nav-element2 {
        margin-left: 0;
    }

    #nav-element3 {
        margin-left: 0;
    }

    #nav-element4 {
        margin-left: 0;
    }

    #nav-element5 {
        margin-left: 0;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 26px;
}

@media (max-width: 1024px) {
    .actions {
        display: none;
    }
}

.action-btn {
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 16px 44px 17px 45px;
}

.sign-in {
    background-color: transparent;
}

.sign-in:hover,
.register-btn:hover,
.footer-btn:hover{
    background-color: rgba(255, 72, 32, 1);
    transition: 0.5s;
}

.sign-up {
    background-color: rgba(255, 72, 32, 1);
    border: 1px solid rgba(255, 72, 32, 1);
}

.sign-up:hover {
    background-color: transparent;
    transition: 0.5s;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .hamburger-menu {
        display: flex;
    }
}

.line {
    height: 3px;
    width: 25px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .hero {
        margin-top: 60px;
    }
}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 620px;
        margin-top: 80px;
    }
}


.hero-content {
    display: flex;
    flex-direction: column;

}

@media (max-width: 1024px) {
    .hero-content {
        align-items: center;
        text-align: center;
    }
}

.hero-title,
.news-section-title,
.footer-title {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (max-width: 1280px) {
    .hero-title {
        font-size: 48px;
        line-height: 50px;
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 40px;
        line-height: 40px;
    }
}

.hero-description {
    margin-top: 33px;
    font-weight: 400;
    font-size: 20px;
    color: rgba(129, 175, 221, 1);
    max-width: 554px;
}

@media (max-width: 1280px) {
    .hero-description {
        font-size: 16px;
    }
}

.hero-input-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 630px;
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .hero-input-wrapper {
        width: 100%
    }
}

.hero-input {
    background-color: rgba(5, 45, 86, 1);
    padding: 24px 32px;
    border: none;
    flex: 1;
}

@media (max-width: 576px) {
    .hero-input {
        padding: 24px 6px;
    }
}

.hero-input::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: rgba(61, 97, 132, 1);
}

@media (max-width: 576px) {
    .hero-input-btn {
        padding: 4px 1px 12px
    }
}

.hero-visits {
    margin-top: 38px;
    display: flex;
    gap: 14px;
}

@media (max-width: 1024px) {
    .hero-visits {
        margin-top: 35px;
    }
}

@media (max-width: 576px) {
    .hero-visits {
        flex-direction: column;
    }
}

.hero-visits-avatars {
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar2-move {
    right: 10px;
}

#avatar3-move {
    right: 20px;
}

#avatar4-move {
    right: 30px;
}

#avatar5-move {
    right: 40px;
}

#avatar6-move {
    right: 50px;
}

#avatar7-move {
    right: 60px;
}

.hero-avatar-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2.09px solid rgba(255, 255, 255, 1);
    background-color: rgba(19, 222, 210, 1);

}

.hero-avatar-wrapper img {
    border-radius: 50%;
}

.hero-avatar-wrapper p {
    font-weight: 800;
    font-size: 8px;
    line-height: 38px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.hero-visits-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 37.61px;
    color: rgba(255, 255, 255, 1);
    right: 60px;
}

@media (max-width: 1024px) {
    .hero-visits-text {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .hero-visits-text {
        left: 50%;
        transform: translateX(-50%);
    }
}

.hero-banner-wrapper {
    width: 100%;
}


.hero-banner-wrapper img {
    width: 606px;
}

@media (max-width: 1280px) {
    .hero-banner-wrapper img {
        width: 480px;
    }
}

@media (max-width: 1024px) {
    .hero-banner-wrapper img {
        width: 100%;
        margin-top: 20px;
    }
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47px;
    margin-top: 79px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 800px) {
    .testimonials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}

.testiomonials-img-wrapper:hover {
    background-color: rgba(255, 72, 32, 1);
    transition-duration: 0.7s;
    cursor: pointer;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: 91px;
    margin-top: 127px;
    background-color: rgba(4, 44, 84, 1);
    padding: 74px 55px 63px 52px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1024px) {
    .about-section {
        gap: 55px;
        align-items: center;
        text-align: center;
    }
}

.what-is-gpt3 {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .what-is-gpt3 {
        flex-direction: column;
    }
}

.about-section-title-wrapper {
    display: flex;
    flex-direction: column;
    top: -17px;
}

@media (max-width: 1024px) {
    .about-section-title-wrapper {
        align-items: center;
        text-align: center;
    }
}

.line {
    width: 38px;
    height: 3px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
}


.about-section-title,
.option-title,
.future-item-title,
.register-title,
.news-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 1);
}

.about-section-description,
.about-section span,
.option-description,
.future-section-left,
.future-item-description,
.possibilities-text span,
.possibilities-description,
.register-section span {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: rgba(129, 175, 221, 1);
    max-width: 731px;
}

@media (max-width: 1280px) {
    .about-section-description {
        max-width: 500px;
    }
}

.subtitle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1024px) {
    .subtitle-wrapper {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
}

.about-section-subtitle,
.future-title,
.possibilities-title {
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    max-width: 472px;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about-section span,
.future-section-left,
#possibilities-span {
    color: rgba(255, 138, 113, 1);
}

.about-section-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
}

@media (max-width: 1024px) {
    .about-section-options {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1024px) {
    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.option-description,
.future-item-description {
    max-width: 334px;
}

.future-section {
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 201px;
}

@media (max-width: 1280px) {
    .future-section {
        flex-direction: column;
        margin-top: 150px;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1024px) {
    .future-section {
        text-align: center;
        margin-top: 70px;
    }
}

.future-section-left {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

@media (max-width: 1280px) {
    .future-section-left {
        margin-bottom: 50px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .future-section-left {
        align-items: center;
        margin-bottom: 30px;
    }
}

.future-title {
    max-width: 426px;
}

@media (max-width: 1280px) {
    .future-title {
        font-size: 48px;
    }
}

@media (max-width: 1024px) {
    .future-title {
        font-size: 40px;
    }
}


.future-section-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.future-item {
    display: flex;
    gap: 74px;
}

@media (max-width: 1024px) {
    .future-item {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 25px;
    }
}

.future-item-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 1024px) {
    .future-item-title-wrapper {
        align-items: center;
        gap: 20px;
    }
}

.future-item-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    max-width: 158px;
}

.future-item-description {
    font-size: 14px;
    line-height: 24px;
}

.possibilities-section {
    margin-top: 45px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 19px;
    padding-left: 37px;
}

@media (max-width: 1024px) {
    .possibilities-section {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .possibilities-banner-wrapper {
        width: 80%;
    }
}

.possibilities-banner-wrapper img {
    width: 100%;
}

.possibilities-text {
    display: flex;
    flex-direction: column;
    max-width: 515px;
    padding: 239px 19px 35px;
}

@media (max-width: 1024px) {
    .possibilities-text {
        padding: 10px 0;
    }
}

.possibilities-title {
    margin-top: 10px;
    max-width: 426px;
}

@media (max-width: 1024px) {
    .possibilities-title {
        max-width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

.possibilities-description {
    margin-top: 23px;
}

#possibilities-span {
    margin-top: 31px;
}

.register-section {
    height: 173px;
    border-radius: 11px;
    margin-top: 154px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 37px 29px 46px;
}

@media (max-width: 1024px) {
    .register-section {
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
    }
}

.register-text {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .register-text {
        max-width: 95%;
    }
}

.register-section span {
    font-size: 12px;
    color: rgba(14, 14, 14, 1);
}

.register-text span:hover{
    color: rgba(129, 175, 221, 1);
}

.register-title {
    line-height: 45px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 1);
}

@media (max-width: 1024px) {
    .register-title {
        line-height: 30px;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .register-title {
        font-size: 20px;
    }
}

.register-btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    padding: 13px 45px 17px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .register-btn {
        font-size: 17px;
        padding: 6px 35px 6px;
    }
}

.news-section {
    margin-top: 154px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1280px) {
    .news-section {
        margin-top: 100px;
    }
}

@media (max-width: 576px) {
    .news-section {
        margin-top: 60px;
    }
}

.news-section-title {
    max-width: 701px;
}

@media (max-width: 1280px) {
    .news-section-title {
        text-align: center;
        max-width: 100%;
        font-size: 55px;
    }
}

@media (max-width: 576px) {
    .news-section-title {
        font-size: 40px;
        line-height: 50px;
    }
}

.news-grid {
    margin-top: 116px;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    gap: 50px;
}

@media (max-width: 1280px) {
    .news-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1024px) {
    .news-grid {
        grid-template-columns: 1fr;
        margin-top: 80px;
    }
}

@media (max-width: 576px) {
    .news-grid {
        margin-top: 50px;
        gap: 30px;
    }
}

.news {
    background-color: rgba(4, 44, 84, 1);
    display: flex;
    flex-direction: column;
}

#big-card {
    grid-row: span 2;
    height: auto;
}

#big-card-news-text {
    justify-content: space-between;
    height: 100%;
    padding-top: 32px;
}

.big-card-date-title-wrapper {
    display: flex;
    flex-direction: column;

}

#big-card-title {
    font-size: 25px;
}

.news-banner-wrapper {
    width: 100%;
}

.news-banner-wrapper img {
    width: 100%;
}

.news-text {
    padding: 7px 18px 14px 26px;
    display: flex;
    flex-direction: column;
}

.news-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
}

.news-date,
.news-link,
.footer-span,
.footer-links-title,
.footer-links a,
.footer-company a,
.footer-contact a,
.footer-rights {
    font-weight: 700;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

footer {
    background-color: rgba(3, 27, 52, 1);
    margin-top: 154px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    footer {
        margin-top: 100px;
    }
}

.request-early-access {
    padding-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 27px;
}

@media (max-width: 1024px) {
    .request-early-access{
    padding-top: 70px;
    }
}

.footer-title {
    max-width: 821px;
}

@media (max-width: 1024px) {
    .footer-title {
        font-size: 55px;
    }
}

@media (max-width: 576px) {
    .footer-title {
        font-size: 48px;
        line-height: 50px;
    }
}

.footer-btn {
    font-weight: 400;
    padding: 22px 20px 21px 24px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    margin-top: 64px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .footer-btn {
        padding: 16px 14px 16px 14px;
    }
}

.footer-logo-links-wrapper {
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 185px;
    margin-bottom: 83px;
}


@media (max-width: 1024px) {
    .footer-logo-links-wrapper {
        flex-direction: column;
        align-items: center;
        left: 0;
        transform: translateX(0);
        gap: 50px;
        margin-top: 70px;
    }
}


.footer-about {
    max-width: 168px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-links-section {
    display: flex;
    gap: 162px;
}

@media (max-width: 1024px) {
    .footer-links-section {
        gap: 100px;
    }
}

@media (max-width: 576px) {
    .footer-links-section {
        flex-direction: column;
        gap: 60px;
    }
}

.footer-span,
.footer-links a,
.footer-links-title,
.footer-company a,
.footer-contact a,
.footer-rights {
    font-weight: 400;
    line-height: 100%;
}

.footer-links,
.footer-company,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.footer-links-title {
    font-size: 14px;
}

.footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    list-style: none;
    max-width: 116px;
}
